.app__owner-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    /* text-indent: 30px */
}

.app__owner-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* text-indent: 30px */
}


.app__owner-sign p:first-child {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-indent: 30px;
    color: var(--color-golden)
    /* text-indent: 30px */

}

.app__owner-sign img {
    width: 250px;
    margin-top: 3rem;
}

@media screen and (max-width: 2000px) {
    .app__owner-content img {
        width: 370px;
    }
}

@media screen and (max-width: 450px) {
    .app__owner-content img {
        width: 80%;
    }
}