.app__footer-headtext {
    font-family: var(--font-base);
    color: var(--color-gray);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 41.6px;
    margin-bottom: 1rem;
}